<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>메인 화면</h2>
    </div>

    <div th:each="boardName : ${boardList}">
        <button class="btn btn-outline-primary my-2"
                onclick="location.href='boardmainpage.html'"
                th:onclick="|location.href='@{/board/{boardName}(boardName=${boardName})}'|"
                th:text="${boardName}">
            게시판 이름
        </button>
    </div>
</div>

</body>
</html>