<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .pagination-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div class="py-5 text-center">
    <h2>회원가입</h2>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">회원가입</h5>
                <div class="card-body">
                    <form action="#" method="post" th:object="${member}" th:action="@{/join}">
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="아이디" name="id" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="비밀번호" name="pass" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="닉네임" name="nickName" required>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" class="btn btn-primary">가입하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>