<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
<style>
    /* 추가된 사용자 정의 스타일 */
    .readonly-field {
        background-color: #ffffff;
    }

    .comment-item {
        margin-left: 20px; /* 원하는 만큼의 간격을 설정하세요 */
        margin-right: 20px; /* 원하는 만큼의 간격을 설정하세요 */
    }
</style>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>글 내용</h2>
    </div>

    <hr class="my-3">

    <div class="">
        <div class="form-control" th:text="${post.title}">제목</div>
        <div class="my-2 form-control d-flex justify-content-between">
            <div th:text="${post.memberNickname}">작성자</div>
            <div>
                <div th:if="${post.date.isAfter(yesterdayTime)}"
                     th:text="${#temporals.format(post.date, 'HH:mm')}">
                </div>
                <div th:unless="${post.date.isAfter(yesterdayTime)}"
                     th:text="${#temporals.format(post.date, 'MM-dd')}">
                </div>
            </div>

        </div>

    </div>

    <hr class="my-3">

    <div class="">
        <textarea id="postContent" style="resize: none" class="form-control" th:text="${post.postContent}" rows="8"
                  readonly></textarea>
    </div>

    <hr class="my-3">

    <div class="my-2" th:each="comment : ${comments}">
        <div class="card">
            <div class="comment-item mt-3 mb-3 d-flex justify-content-between">
                <div th:text="${comment.memberNickname}">닉네임</div>
                <div th:if="${comment.date.isAfter(yesterdayTime)}"
                     th:text="${#temporals.format(comment.date, 'HH:mm')}">
                </div>
                <div th:unless="${comment.date.isAfter(yesterdayTime)}"
                     th:text="${#temporals.format(comment.date, 'MM-dd')}">
                </div>
            </div>


            <div class="comment-item  mb-3 ">
                <div class="comment-content" th:text="${comment.commentContent}" >
                    내용
                </div>
            </div>
        </div>
        <!-- 수정하기 버튼 공간 -->
        <div th:if="${comment.memberNickname.equals(loginedNickname)}">
            <button class="btn btn-outline-primary"
                    th:onclick="|location.href='@{/board/{boardId}/{postId}/comment/{commentId}/edit(boardId=${boardId},postId=${postId},commentId=${comment.id})}'|"
            >
                수정
            </button>
            <button class="btn btn-close btn-outline-secondary"
                    th:onclick="|location.href='@{/board/{boardId}/{postId}/comment/{commentId}/delete(boardId=${boardId},postId=${postId},commentId=${comment.id})}'|"
            >
            </button>
        </div>
    </div>

    <!--댓글 등록-->
    <div th:if="${isLogined}">
        <form th:action="@{/board/{boardId}/{postId}/comment/write(boardId=${boardId}, postId=${postId})}"
              method="post">
            <div class="mb-3">
                    <textarea id="commentContent" name="commentContent" style="resize:none" class="form-control"
                              rows="2"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">댓글 등록</button>
        </form>
    </div>

    <hr class="my-3">

    <div class="row justify-content-between">
        <div class="col-auto" th:if="${isPostWriter}">
            <button class="btn btn-primary btn-lg"
                    onclick="location.href='editboard.html'"
                    th:onclick="|location.href='@{/board/{boardId}/{postId}/edit(boardId=${boardId},postId=${postId})}'|"
            >
                수정하기
            </button>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary btn-lg float-end"
                    onclick="location.href='board.html'"
                    th:onclick="|location.href='@{/board/{boardId}(boardId=${boardId})}'|"
            >
                목록으로
            </button>
        </div>
    </div>
</div>

</body>
</html>
